body {
  background-color: $background-color;
  background-image: url(../images/background-logo-90-percent-682x829.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  color: $font-color;
}
