body {
  background-color: $background-color;
  background-image: url(../images/nomeansno_blurry_btr_background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $font-color;
}
